/* Survey page styles */

.photo{
  width: 60%;
  padding: 10px;
}

form {
  margin: 0 auto;
  text-align: left;
  display: inline-block;
}




.container{
  text-align: left;
  max-width: 282px;
  margin: auto;
}

.container2{
  text-align: right;
  max-width: 180px;
  margin: auto;
}
.newsletter{
  text-align: right;
}

fieldset{
	border: none;
	margin-top: 1em;
}

legend{
	text-align: center;
}

.sally{
	display: inline-block;
}

input[type="radio"]:focus+label{
	color: white;
	text-transform: uppercase;
}
select:focus{
	border-width: 10px;
	border-radius: 20px;
}

#radioinput1, #radioinput2, #radioinput3, #radioinput4, #selectinput,
#textareainput, #nameinput, #emailinput, #retypeemailinput, #buttoninput{
	display: none;
}

@media screen and (min-width: 368px) {
		.container2{
			max-width: 282px;
		}

}

/* Styles for larger screens */
@media screen and (min-width: 840px) {
  .photo{
    width: 40%;
  }
}
